body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-size: 50px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px 0;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

button {
    display: block;
    margin: 40px 0;
    font-size: 1em;
}